<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<title>Single Expenses Tracker</title>
<body ng-controller="ExampleViewController">
<div>
    <h1>{{ yourTitle }}!</h1>
    <h2>{{ name }}!</h2>

    <p>{{ expense.description }} - {{ expense.amount }}</p>
    <button ng-click="increaseAmount()">increase amount</button>

    <div style="margin-top:50px">
        <input type="text" ng-model="expense.description" placeholder="Enter a description here">
    </div>

    <div style="margin-top:50px">
        <input type="text" ng-model="expense.amount" placeholder="Enter a amount here">
    </div>

    <div style="margin-top:50px">
        <textarea  ng-model="yourTitle"></textarea>
    </div>

    <ul>
        <li ng-repeat="item in items">
            {{ item.name }} -
            <span style="color: darkred;" ng-repeat="ingredients in item.ingredients"> {{ ingredients }} </span>
        </li>
    </ul>

    <select ng-model="foods" name="food"  ng-options="item.id as item.name for item in items" ng-change="selectFood(foods)"></select>
    <select name="ingredients" ng-model="ingredients" ng-options="item as item for item in selectedItem"></select>



</div>
</body>
</html>