
<!DOCTYPE html>
<html lang="en" ng-app="addUserApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Project</title>
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/angular.min.js"></script>
    <!-- Firebase -->
    <script src="../js/lib/firebase.js"></script>
    <!-- AngularFire -->
    <script src="../js/lib/angularfire.min.js"></script>
    <script src="../js/app/app-add-user.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
</head>

<body role="document" ng-controller="addUserCtrl">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Angular Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Users</a></li>
                <li class="active"><a href="add-user.html">Add User</a></li>
                <li><a href="filter-user.html">Filter Users</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header" style="margin-top: 70px;">
            <h1>Add User</h1>
        </div>
        <form name="addUserForm" novalidate class="form" role="form" ng-submit="addUserCtrl.submitForm(addUserCtrl.addUserForm)">
            <div class="row show-grid">
                <div class="col-xs-6">
                    <input type="text" ng-model="addUserCtrl.addUserForm.userId" name="userId" required="true" placeholder="User Id" class="form-control" maxlength="5" ng-minlength="3" ng-maxlength="5">
                    <div class="form-group has-error" ng-show="addUserForm.userId.$dirty && addUserForm.userId.$invalid">
                        <p class="control-label">Please Enter Id between 3 - 5 characters</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <input type="text" ng-model="addUserCtrl.addUserForm.userName " name="userName" required="true" ng-maxlength="50" maxlength="50" placeholder="User Name" class="form-control">
                    <div class="has-error" ng-show="addUserForm.userName.$dirty && addUserForm.userName.$invalid">
                        <p class="control-label">Please Enter Name</p>
                    </div>
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.userPhone" required="true" placeholder="User Phone" class="form-control"></div>
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.userEmail" required="true" placeholder="User E-mail" class="form-control"></div>
            </div>

            <div class="row show-grid">
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.userNickName" placeholder="Nick Name" class="form-control"></div>
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.userWebSite" placeholder="Web Site" class="form-control"></div>
            </div>

            <div class="page-header">
                <h4>Adddress Info</h4>
            </div>

            <div class="row show-grid">
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.city" placeholder="City" class="form-control"></div>
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.street" placeholder="Street" class="form-control"></div>
            </div>

            <div class="row show-grid">
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.suite" placeholder="Suite" class="form-control"></div>
                <div class="col-xs-6"><input type="text" ng-model="addUserCtrl.addUserForm.zipCode" placeholder="Zip Code" class="form-control"></div>
            </div>

            <div class="row show-grid">
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-success" value="Add User" />
                </div>
            </div>

        </form>

        <div ng-show="showAdded" class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully added the user
        </div>

    </div>
</div>
<!-- /container -->
</body>
</html>
